<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true">
      <buildProviders>
        <add extension=".ica" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.1"/>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="Farm:MyFarmName" value="6.x,https://MyDataCollector.MyCompany.io"/>
    <add key="Farm:Xs-Farm" value="7.x,http://MyDeliveryController.MyCompany.io"/>
    <add key="ImpUser" value="MyDomain\MyUsername"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="ICAGenerator-ISAPI-integrated-4.0" path="*.ica" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="ICAGenerator-ISAPI-2.0_32bit" path="*.ica" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
      <add name="ICAGenerator-ISAPI-4.0_64bit" path="*.ica" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Generator.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".ica" mimeType="application/x-ica"/>
    </staticContent>
  </system.webServer>
</configuration>